.div-select select, .input-number,
.input-number::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.content {
    height: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    display: flex;
}

.div-select {
    position: relative;   
}

.div-select::before, .div-select::after {
    content: "";
    position: absolute;
    top: 50%;
    border-top: 2px solid #2B2D42;
    width: 10px;
}

.div-select::before {
    right: 26px;
    transform: rotate(45deg);
 }
 
.div-select::after {
    right: 20px;
    transform: rotate(-45deg);
}

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
    margin: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #8D99AE;
    border-radius: 3px;
}