@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gantari;
  src: url(../public/font/Gantari.ttf) format("truetype")
}

body {
  font-family: Gantari, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
